.container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.vermelho{
    background-color: red;
    height: 50px;
}
.azul{
    background-color: blue;
    height: 50px;
}
.verde{
    background-color: green;
    height: 50px;
}